<style>
  body {
      background-color:#ef962d;
    }
  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%
    }
  h1
    {
    color: green;
    }
  h3
  {
  color: green;
  }
  h4
  {
  color: green;
  }
</style>
