  body {
      background-color:#DAF7A6;
    }
  hr{
    align:left;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%
    }
  h1
    {
    color: black;
    }
  h3
  {
  color: black;
  }
  h4
  {
  color: black;
  }
table, th, td {
  border-collapse: collapse;
}
pre{
  font-size: 20px;
  font-family: monospace;
}
li{
  font-size:20px ;
}